body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.hero {
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.hero-wrapper {
    height: 60vh;
}
.hero-text {
    font-weight: 900 !important;
}
.text-shadow {
    text-shadow: 2px 2px black;
}
.image-credit {
    bottom: -54px;
    right: 11px;
    position: absolute;
}
footer {
    margin-top: 0px !important;
}
